body{
   background-color: #FFE4C4;
   font-family: Arial, sans-serif;
   color: #F5F5DC;
}

.kartu-profil {
   width: 300px;
   margin: 50px auto;
   padding: 20px;
   backround-color: white;
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0,0,0,0,1);
}
.kartu-profil img{
   width:150px
   border-radius: 50%;
}
.kartu-profil {
   text-align: center;
}
